html, body, .bodyClass, #root {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

.MainClass{
  border-bottom: 1px solid black;
  height: 100%;
  display: flex;
  flex-direction: row;
}

.Header {
  border-bottom: 1px solid black;
  background: #057505;
  color: white;
  font-size: 25px;
  height: 50px;
  direction: rtl;
  width: 100%;
  overflow: hidden;
  float: right;
}

.left {
  width: 25%;
  border-right: 1px solid black;
  background-color: #9bba9d;
}

.right {
  width: 75%;
  display: flex;
  flex-direction: column;
  background: url("Images/whatsapp.jpg");
}


/************************************    SendingMessage   **************************************/
.SendingMessage{
  display: flex;
  flex-direction: row;
  height: 50px;
}


.MessageInput{
  flex-grow: 1;
  font-size: 23px;
  border-bottom-left-radius: 15px;
  border-top-left-radius: 15px;
  margin: 5px 0px 5px 5px;
  padding: 5px 5px 5px 12px;
}

.buttonActive{
  margin: 5px 5px 5px 0px;
  border-bottom-right-radius: 15px;
  border-top-right-radius: 15px;
  background-color: #057505;
  font-size: 25px;
  min-width: 100px;
  color: white;
  border-color: white;
}

.buttonDisabled{
    margin: 5px 5px 5px 0px;
    border-bottom-right-radius: 15px;
    border-top-right-radius: 15px;
    background-color: gainsboro;
    font-size: 25px;
    min-width: 100px;
    color: white;
    border-color: white;
}

.buttonActive:hover {
  background-color: #046204;
}
/*************************************************************************************/









/**************************** MessageHistory *******************************/
.content {
  height: 100%;
  outline: none;
  overflow-y: scroll;
}

.message {
  width:100%;
  overflow: hidden;
}

.OtherMessage{
  float: right;
  background: #F7F7F7;
}

.MineMessage{
  background: palegreen;
}

.MessageHistory{
  margin: 5px;
  padding: 5px;
  border-radius: 5px;
  font-size: 25px;
  width: fit-content;
}

.MessageTime{
  font-size: 10px;
  color: gray;
}

.Date{
    text-align: center;
    background-color: #B2DBE1;
    padding: 5px;
    margin-left: 40%;
    margin-right: 40%;
    border-radius: 5px;
    margin-top: 5px;
    margin-buttom: 5px;
}

.MessageUserSending{
    font-size: 13px;
    color: #42a4ff;
    font-weight: bold;
    direction: rtl;
}

/***********************************************************************/







/************************   Header   **********************************/
.LoginImage {
  background: url("Images/LoginUser/userLogin.png");
  width: 32px;
  height: 32px;
  margin: 7px;
  float: right;
  cursor: pointer;
}

div.LoginImage:hover{
  background: url("Images/LoginUser/userLoginH.png");
}

div.LoginImage:active{
  background: url("Images/LoginUser/userLoginP.png");
}

.LoginStatus{
  padding: 15px;
  font-size: 15px;
}
/************************************************************************/








/********************   tree    *****************/
.tree {
    padding: 0.5em;
    margin: 0;
    list-style: none;
    outline: none;
    height: 97.1%;
    overflow-y: scroll;
}

.group{
    font-size: 25px;
}

.user{
    font-size: 25px;
}

.inFocus{
    border: 1px solid black;
    background: #059505;
}

.hidden{
    display: none;
}

li{
    user-select: none;
    color: white;
}
/***********************************************/
